<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

    <header class="encabezado">

        <img src="/recursos/hamburger.png" class="encabezado__logo" alt="" width="120px">
        <img src="/recursos/logo.png" class="encabezado__logo" alt="">
        <div class="encabezado__carro">
          <a href="/carrito">
        <img src="/recursos/carrito.png" class="encabezado__carrito" alt="" height="60px">
         </a>
         <span class="carrito__num"> </span>
         </div>
    </header >

    <section class="seccion">

        <article class="seccion__filtros">
        
    <h3>Ordenar</h3>

    <p><a href="/tienda?sort=2">Cronologicamente</a></p>
    <p><a href="/tienda?sort=1">Mayor precio</a></p>
    <p><a href="/tienda?sort=0">Menor precio</a></p>

    <h3>Categorias</h3>

    <p><a href="/tienda">Todos</a></p>
    <p><a href="/tienda/Hardware">Hardware (4)</a></p>
    <p><a href="/tienda/Software">Software (11)</a></p>
    <p><a href="/tienda/Accesorio">Accesorios (5)</a></p>

    <h3>Tienda</h3>
    <p><a href="/envios/Andamiro-Colombia">Oficial Andamiro</a></p>
    <p><a href="/envios/Arcade-Paradise">Arcade paradise</a></p>
    <p><a href="/envios/Peter-Land">Peter Land</a></p>

    
        </article>

        <article class="seccion__linea">

        </article>

        <article class="seccion__productos">

   
      <div class="individual">
    
       {{#each productos}}
           
              <div class="producto">
                <a href="/tienda/producto/{{nombre}}">
                <div class="producto__imagen">
                    <img class="producto__imagen" src="/recursos/{{imagen}}" width="200px">
                </div>
                    <div class="producto__letras">
                    <h3 class="producto__nombre">{{nombre}}</h3>
                    <p class="producto__envio">Por {{envios}}</p>
                    <br>
                    <h3 class="producto__precio">${{precio}}</h3>
                      </div>

                </a>
                </div>
                <!--<button class="producto__carrito">Agregar al carrito</button>-->

        {{/each}}
    
        </div>
        </article>
        
    </section>
     <footer class="pie">
            <div class="pie__contenido">
            <div class="pie__col1">
              <p>Tel: 3156715134</p>
              <p>Correo: brayantino24@hotmail.com</p>
              <p>Calle71A#2c47, Cali, colombia</p>
              <!--<img src="/recursos/andamiro-logo.png" alt="">-->
            </div>
            <div class="pie__col2">
              <h1>Escribenos para saber mas</h1>
                <form action="/action_page.php">
              <div class="pie__col2__input">
                <input type="text" id="uname" name="name"
                placeholder="Nombre">
                <input class="pie__col2__derecha" type="text" id="uname" name="name"
                placeholder="Email">
 
                
              </div>
              <div class="pie__col2__input">
                <input type="text" id="uname" name="name"
                placeholder="Celular">
                <input class="pie__col2__derecha" type="text" id="uname" name="name"
                placeholder="Asunto">
              </div>
              <div class="pie__col2__inputXL">
                <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Comentarios"></textarea>
              </div>
              <input class="pie__col2__boton" type="reset" value="Enviar">
              </form>
            </div>
          </div>
            <div  class="pie__linea"></div>
            <div class="pie__derechos">
              <p>Copyright © Pump it up 1999 | Creado Por: ANDAMIRO</p>
            </div>
          </footer>

   

    <script src="/scripts/tienda.js"></script>
    
</body>
</html>